@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --menu-bar-color:#562EFF;
    --menu-text-color: #FFFFFF;
    --text-color:#000000;
    --header-text-color:#562EFF;
    --menu-font-size:16px;
    --header-font-size:24px;
    --title-font-size:20px;
    --player-name-font-size:18px;
    --author-font-size:16px;
    --btn-color: blue;
}

body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif;*/
} 
.menu-alignment{
    display: flex;
    align-items: center;
}

.top-menu-bar{
    /* display: flex; */
    background-color: var(--menu-bar-color);
    height: 94px;
    justify-content: space-between;
    padding: 0 285px;
}

.top-menu-logo p{
    margin-left: 15.58px;
    color: var(--menu-text-color);
    font-size: var(--header-font-size);
    font-weight: 500px;
}

.nav-menu a{
    text-decoration: none;
    color: var(--menu-text-color);
    font-size: var(--menu-txt-size);
    margin-right: 36px;
    font-weight: normal;
}

nav li{
    list-style: none;
}

.top-menu-logo{
    width: 40.42px;
    height: 51px;
}
.top-menu-logo img{
    width: 100%;
}


